<style>
    #febs-index .welcome-info {
        border: 1px solid #f1f1f1;
        margin-bottom: .5rem;
        padding: .5rem;
    }

    #febs-index .welcome-info-wrapper {
        padding: .2rem;
        display: inline-block
    }

    #febs-index .welcome-info-wrapper .user-header {
        display: inline-block;
        vertical-align: middle
    }

    #febs-index .welcome-info-wrapper .user-header img {
        width: 5rem;
        margin: .5rem 1rem;
        border-radius: 50%
    }

    #febs-index .welcome-info-wrapper .user-info {
        display: inline-block;
        vertical-align: middle
    }

    #febs-index .welcome-info-wrapper .user-info .random-message {
        font-size: 1rem;
        margin-bottom: .2rem;
        max-width: 21rem
    }

    #febs-index .welcome-info-wrapper .user-info .user-dept, #febs-index .welcome-info-wrapper .user-info .user-login-info {
        color: rgba(0, 0, 0, 0.45);
    }

    #febs-index .login-count-table {
        width: 100%;
        margin: 1rem;
    }

    #febs-index .login-count-table .count {
        padding-top: .8rem;
        font-size: 1rem;
        font-weight: 600;
        color: #1890ff
    }

    #consoleLink > div:first-child .console-link-block {
        background-color: rgb(155, 197, 57);
    }
    #consoleLink > div:nth-child(2) .console-link-block {
        background-color: rgb(85, 165, 234);
    }
    #consoleLink > div:nth-child(3) .console-link-block {
        background-color: rgb(157, 175, 291);
    }
    #consoleLink > div:nth-child(4) .console-link-block {
        background-color: rgb(245, 145, 162);
    }
    #consoleLink > div:nth-child(5) .console-link-block {
        background-color: rgb(254, 170, 79);
    }
    #consoleLink > div:last-child .console-link-block {
        background-color: rgb(64, 212, 176);
    }
    .card_one{
        padding: 10px 0px !important;
    }
    .console-link-block {
        display: block;
        position: relative;
        color: #fff;
        font-size: 18px;
        padding: 22px 10px;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, .1);
        background-color: rgb(155, 197, 57);
    }
    .console-link-block .console-link-block-num {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .console-link-block .console-link-block-band {
        background-color: rgb(227, 42, 22);
        font-size: 14px;
        position: absolute;
        width: 80px;
        padding: 2px 0;
        text-align: center;
        transform: rotate(45deg);
        right: -21px;
        top: 8px;
        color: rgba(255, 255, 255, .9);
        z-index: 1;
    }
    .console-link-block .console-link-block-icon {
        height: 70px;
        position: absolute;
        right: 37px;
        top: 50%;
        transform: translateY(-50%);
    }
</style>
<div class="layui-fluid layui-anim febs-anim-up" id="febs-index" lay-title="首页">
    <div class="layui-row layui-col-space8 febs-container">
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
                <div id="consoleLink" class="layui-row layui-col-space15 layui-card-body card_one layui-anim layui-anim-upbit layui-clear">
                    <div class="layui-col-lg2 layui-col-md4 layui-col-sm4 layui-col-xs6">
                        <div class="console-link-block" ew-href="page/system/user.html" ew-title="外出申请">
                            <div class="console-link-block-num">15</div>
                            <div class="console-link-block-text">外出申请</div>
                            <div class="console-link-block-band">待审批</div>
                            <img class="console-link-block-icon" data-th-src="@{febs/images/index/homepic1.png}">
                        </div>
                    </div>
                    <div class="layui-col-lg2 layui-col-md4 layui-col-sm4 layui-col-xs6">
                        <div class="console-link-block" ew-href="page/system/role.html" ew-title="请假审批">
                            <div class="console-link-block-num">13</div>
                            <div class="console-link-block-text">请假审批</div>
                            <div class="console-link-block-band">待审批</div>
                            <img class="console-link-block-icon" data-th-src="@{febs/images/index/homepic2.png}">
                        </div>
                    </div>
                    <div class="layui-col-lg2 layui-col-md4 layui-col-sm4 layui-col-xs6">
                        <div class="console-link-block" ew-href="page/system/authorities.html" ew-title="研发周报">
                            <img class="console-link-block-icon" data-th-src="@{febs/images/index/homepic3.png}">
                            <div class="console-link-block-num">22</div>
                            <div class="console-link-block-text">研发周报</div>
                            <div class="console-link-block-band">去查看</div>
                        </div>
                    </div>
                    <div class="layui-col-lg2 layui-col-md4 layui-col-sm4 layui-col-xs6">
                        <div class="console-link-block" ew-href="page/system/loginRecord.html" ew-title="研发月报">
                            <img class="console-link-block-icon" data-th-src="@{febs/images/index/homepic4.png}">
                            <div class="console-link-block-num">18</div>
                            <div class="console-link-block-text">研发月报</div>
                            <div class="console-link-block-band">去查看</div>
                        </div>
                    </div>
                    <div class="layui-col-lg2 layui-col-md4 layui-col-sm4 layui-col-xs6">
                        <div class="console-link-block" ew-href="page/plugin/dialog.html" ew-title="拜访记录">
                            <img class="console-link-block-icon" data-th-src="@{febs/images/index/homepic5.png}">
                            <div class="console-link-block-num">11</div>
                            <div class="console-link-block-text">拜访记录</div>
                            <div class="console-link-block-band">去查看</div>
                        </div>
                    </div>
                    <div class="layui-col-lg2 layui-col-md4 layui-col-sm4 layui-col-xs6">
                        <div class="console-link-block" ew-href="page/plugin/notice.html" ew-title="项目申报">
                            <img class="console-link-block-icon" data-th-src="@{febs/images/index/homepic6.png}">
                            <div class="console-link-block-num">26</div>
                            <div class="console-link-block-text">项目申报</div>
                            <div class="console-link-block-band">待审批</div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-body layui-anim layui-anim-upbit">
                    <div class="layui-row welcome-info">
                        <div class="layui-col-md6 layui-col-sm12 layui-col-xs12">
                            <div class="layui-row welcome-info-wrapper">
                                <div class="user-header">
                                    <img alt="头像" id="user-avatar" data-th-src="@{febs/images/avatar/empty.jpg}">
                                </div>
                                <div class="user-info">
                                    <div class="layui-row">
                                        <div class="random-message">
                                            <span id="welcome-message"></span>
                                        </div>
                                        <div class="user-login-info">
                                            上次登录时间：<span id="last-login-time">2019-05-23 18:45:12</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6 layui-col-sm12 layui-col-xs12">
                            <div class="layui-col-md-offset5">
                                <table class="login-count-table">
                                    <tr>
                                        <td>今日IP</td>
                                        <td>今日访问</td>
                                        <td>总访问量</td>
                                    </tr>
                                    <tr>
                                        <td class="count" id="today-ip">
                                            0
                                        </td>
                                        <td class="count" id="today-visit-count">
                                            0
                                        </td>
                                        <td class="count" id="total-visit-count">
                                            0
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script data-th-inline="javascript" type="text/javascript">
    layui.use(['apexcharts', 'febs', 'jquery', 'util'], function () {
        var $ = layui.jquery,
            util = layui.util,
            $view = $('#febs-index'),
            febs = layui.febs;

        febs.get(ctx + 'index/' + currentUser.id, null, function (r) {
            handleSuccess(r.data);
        });

        function handleSuccess(data) {
            var hour = new Date().getHours();
            var time = hour < 6 ? '早上好' : (hour <= 11 ? '上午好' : (hour <= 13 ? '中午好' : (hour <= 18 ? '下午好' : '晚上好')));
            var welcomeArr = [
                '喝杯咖啡休息下吧☕',
                '要不要和朋友打局LOL',
                '今天又写了几个Bug呢',
                '今天在群里吹水了吗',
                '今天吃了什么好吃的呢',
                '今天您微笑了吗😊',
                '今天帮助别人了吗',
                '准备吃些什么呢',
                '周末要不要去看电影？'
            ];
            var index = Math.floor((Math.random() * welcomeArr.length));
            var welcomeMessage = time + '，<a id="febs-index-user">' + currentUser.userName + '</a>，' + welcomeArr[index];
            $view.find('#today-ip').text(data.todayIp).end()
                .find('#today-visit-count').text(data.todayVisitCount).end()
                .find('#total-visit-count').text(data.totalVisitCount).end()
                .find('#last-login-time').text(currentUser.lastLoginTime ? currentUser.lastLoginTime : '第一次访问系统').end()
                .find('#welcome-message').html(welcomeMessage).end()
                .find('#user-avatar').attr('src', ctx + "febs/images/avatar/" + currentUser.avatar);

        }

        $view.on('click', '#febs-index-user',function () {
            febs.navigate("/user/profile");
        })

    });
</script>
