package ${package}.${moduleName}.controller;

import com.github.pagehelper.PageInfo;
import com.monkeyzi.code.base.BaseController;
import org.apache.shiro.authz.annotation.RequiresPermissions;
import com.monkeyzi.code.base.Result;
import com.monkeyzi.code.dto.PageRequest;
import ${package}.${moduleName}.entity.${className};
import ${package}.${moduleName}.service.${className}Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;


/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@RestController
@RequestMapping("/${pathName}" )
public class ${className}Controller extends BaseController{

    @Autowired
    private ${className}Service ${classname}Service;

    /**
     * 分页查询
     * @param page 分页对象
     * @param ${classname}
     * @return Result
     */
    @GetMapping("/page" )
    public Result get${className}Page(PageRequest page, ${className} ${classname}) {
        PageInfo pageInfo=${classname}Service.pageQuery(page,${classname});
        Map<String,Object> results=super.getDataTable(pageInfo);
        return Result.ok(results);
    }


    /**
     * 通过id查询${comments}
     * @param ${pk.lowerAttrName} id
     * @return Result
     */
    @GetMapping("/{${pk.lowerAttrName}}" )
    public Result getById(@PathVariable("${pk.lowerAttrName}" ) ${pk.attrType} ${pk.lowerAttrName}) {
        ${className} ${classname}=${classname}Service.getById(${pk.lowerAttrName});
        return return Result.ok(${classname});
    }

    /**
     * 新增${comments}
     * @param ${classname}
     * @return Result
     */
    @PostMapping
    @RequiresPermissions("${moduleName}:${pathName}:add")
    public Result save(@RequestBody ${className} ${classname}) {
        ${classname}Service.save(${classname})
        return Result.ok("success");
    }

    /**
     * 修改${comments}
     * @param ${classname}
     * @return Result
     */
    @PutMapping
    @RequiresPermissions("${moduleName}:${pathName}:update")
    public Result updateById(@RequestBody ${className} ${classname}) {
        ${classname}Service.updateById(${classname})
        return Result.ok("success");
    }

    /**
     * 通过id删除${comments}
     * @param ${pk.lowerAttrName} id
     * @return Result
     */
    @DeleteMapping("/{${pk.lowerAttrName}}" )
    @RequiresPermissions("${moduleName}:${pathName}:delete")
    public Result removeById(@PathVariable ${pk.attrType} ${pk.lowerAttrName}) {
        ${classname}Service.removeById(${pk.lowerAttrName})
        return Result.ok("success");
    }

}
