package ${package}.${moduleName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import com.github.pagehelper.PageInfo;
import com.monkeyzi.code.dto.PageRequest;
import ${package}.${moduleName}.entity.${className};

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}> {

    PageInfo pageQuery(PageRequest,page,${className} ${classname});
}
